.h-menu {
    width: 50px;
    height: 50px;
    background-color: #3C5174;
    position: absolute;
    top: 10px;
    right: 15px;
    z-index: 1;
    cursor: pointer;
    transition: all .3s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
}

.menu-line {
    width: 40px;
    height: 6px;
    background-color: #f9f5f4;
    border-radius: 5px;
    box-shadow: 2px 2px 8px #00000052, -2px -2px 8px #FFFFFF52;
    transition: all .3s ease-in-out;
}

.menu-line::before,
.menu-line::after {
    content: '';
    position: absolute;
    width: 40px;
    height: 6px;
    background-color: #f9f5f4;
    border-radius: 5px;
    box-shadow: 2px 2px 8px #00000052, -2px -2px 8px #FFFFFF52;
    transition: all .3s ease-in-out;
}

.menu-line::before {
    transform: translateY(-13px);
}

.menu-line::after {
    transform: translateY(13px);
}


/* ANIMATION */

.h-menu.open .menu-line {
    transform: translateX(-50px);
    background-color: #F9F5F4;
    background-color: transparent;
    box-shadow: none;
}

.h-menu.open .menu-line::before {
    transform: rotate(45deg) translate(35px, -35px);
    background-color: #F9F5F4;
}

.h-menu.open .menu-line::after {
    transform: rotate(-45deg) translate(35px, 35px);
    background-color: #F9F5F4;
}